@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* Set the size of the div element that contains the map */
#map {
  height: 700px;
  /* The height is 400 pixels */
  width: 100%;
  margin: auto;

}

.bigMargin {
  margin-top: 100px;
}

.animate {
  display: inline-block !important;
}

#logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 70px;
  height: 50px;
}

/* inspired by https://codepen.io/lloopp/pen/XWJKMNr */
#arrow-container {
  animation: bounce 2000ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  opacity: 1;
}

#arrow {
  color: black;
  cursor: pointer;
}

#arrow-container:hover {
  opacity: .3;
}

@keyframes bounce {
  50% {
    transform: translateY(-10px);
    opacity: .3
  }
}

p {
  font-family: 'Montserrat', sans-serif;
}

.hero-container {
  background: blue;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#hero-title {
  position: absolute;
  left: 10%;
  top: 20%;
  font-family: 'Prata', serif;
}

#hero-title h1 {
  font-size: 10em;
}

#hero-title h3 {
  color: #2c698d
}

#hero-title p {
  width: 30%;
}

h5 {
  color: #1e1f21;
}

.hero-container div {
  padding: 30px;
}

#outline {
  width: 60%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: block;
}

.left-side {
  background: #f7f3f3;
  width: 35vw;
  height: 100vh;
}

.right-side {
  background: yellow;
  width: 65vw;
  height: 100vh;
  background-image: url("../img/hero.jpg");
  background-size: cover;
}

.black-bg {
  background: #1e1f21;
  color: white;
}

.myAccent {
  width: 75%;
  margin: 0 auto;
  height: 500px;
}

.myAccent div {
  width: 40%;
  height: 100%;
}

.accent-container {
  position: relative;
}

.accent-img {
  z-index: 2 !important;
  position: absolute;
  background-position: center;
  background-size: cover;
}

.accent-bg {
  position: absolute;
  background: url("../img/pattern.png");
  top: 20px;
  opacity: .7;
  background-position: center;
  background-size: cover;
  z-index: 0 !important;
}

#right-accent div {
  right: 0px;
  top: -70px;
}

#right-accent .accent-bg {
  right: -20px;
  top: -50px;
}

#right-accent .accent-img {
  background: url("../img/accent1.jpg");
  background-position: center;
  background-size: cover;
}

#left-accent .accent-img {
  background: url("../img/accent2.jpg");
  background-position: center;
  background-size: cover;
}

#left-accent .accent-bg {
  left: 20px;
}



/* parallax */


/* inspired by https://www.w3schools.com/howto/howto_css_switch.asp  */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.myCard {
  top: 1500px;
  left: 200px;
  z-index: 1;
}

.myBtn {
  border-style: double !important;
  font-family: 'Montserrat', sans-serif;
  border-color: white;
  color: white;
  border-radius: 10px;
}

/* edf3f3  */
.myBtn:hover {
  color: #1e1f21;
  background: white;
}

/* bae8e8 */
.myModal {
  background: #edf3f3;
  height: 70vh;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  color: #1e1f21;
}

.img-thumbnail {
  border: none;
  width: 500px;
  border-radius: 3px;
}

.card-title {
  font-family: 'Prata', serif !important;
}

.display-4 {
  font-family: 'Prata', serif !important;
}

.modalImg {
  width: 300px;
}

.myLine {
  width: 100%;
}

.card {
  border: none;
  height: 400px;
  width: 270px;
}

.card img {
  width: 100%;
  height: 180px;
  overflow: hidden;
  margin: 0 auto;
}

#closeCard {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  color: white;
  right: 0;
  border-radius: 50%;
}

.myBtn {
  background: #1e1f21 !important;
}

.myBtn:hover {
  background: white !important;
  border: 1px solid #1e1f21;
}

/* galaxy inpired by https://jsfiddle.net/psullivan6/ma6e78m0/*/
@keyframes twinkle_one {
  0% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes twinkle_two {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes twinkle_three {
  0% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.galaxy {
  z-index: 1;
  width: 100%;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  position: relative;
  margin: 0 auto;
  background: #1e1f21;
  /* background: yellow; */
}

.star {
  position: absolute;
  background-color: white;
}

.star-type1 {
  width: 1px;
  height: 1px;
  border-radius: 2px;
  box-shadow: 0 0 1px 1px white;
  animation: twinkle_one 3s ease-in-out infinite;
}

.star-type2 {
  width: 2px;
  height: 2px;
  border-radius: 2px;
  box-shadow: 0 0 2px 1px white;
  animation: twinkle_two 12s ease-in-out infinite;
}

.star-type3 {
  width: 3px;
  height: 3px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 2px 0 white;
  box-shadow: 0 0 2px 0 white;
  animation: twinkle_three 7s ease-in-out infinite;
}

.ml12 {
  font-weight: 200;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}


/* TODO: media query img-thumbnail = smaller than 3000 */
@media only screen and (max-width: 768px) {
  .img-thumbnail {
    width: 200px;
    margin: auto
  }

  #hero-title h1 {
    font-size: 8em;
  }

  .jumbotron h1 {
    font-size: 34px;
  }
}
